
<div id="main">
  <h3>Gigmarklet is a drop-dead simple way to track shows and events you want to attend.</h3>
  <p>Login or Register to save events with a single click as you discover them anywhere on the web.</p>
  <p>Drag this button to your bookmarks toolbar and use it when you find an event you want to save.</p>

    <p>Gigmarklet works with the following sites:</p>
        <ul>
          <li>Ticketmaster.com</li>
          <li>LiveNation.com</li>
          <li>AXS.com</li>
          <li>TicketFly.com</li>
          <li>Eventbrite.com</li>
          <li>Facebook Events</li>
        </ul>

  <div id="add_url">
    <h4>Add a url for an item manually</h4>

     <%= render :partial => 'shared/add_url' %>

     <a id="bookmarklet" href="javascript:var d=document,w=window,e=w.getSelection,k=d.getSelection,x=d.selection,s=(e?e():(k)?k():(x?x.createRange().text:0)),f= 'http://<%= request.host_with_port %>/items/new',l=d.location,e=encodeURIComponent,p='?v=1&u='+e(l.href)%20+'&t='+e(d.title.replace(/^\s*|\s*$/g,''))%20+'&s='+e(s),u=f+p;location.href=u;">Gigmarklet</a>

    </div> <!-- end add_url -->
</div><!-- end main -->